# --- General ---
.DS_Store
*.log
.venv

# --- Python ---
__pycache__/
*.pyc
*.pyo
venv/
.env

# --- Node.js ---
node_modules/
npm-debug.log
package-lock.json # Opcional: a veces se versiona, pero en exámenes a veces molesta

# --- Java ---
*.class
*.jar
*.war
bin/
build/
target/
.gradle/
.idea/
*.iml
.vscode/

# Simulación de Discos
src/server/node_worker/disk/

# --- Cliente ---
src/client/stress_test_data.csv

# Datasets generados
src/core/datasets/mnist.csv
src/core/datasets/fashionmnist.csv
